{% extends "index.html" %}
{% block content %}
<!--
this is commented out because I dont want the app to have a UI but I built this just to get it started
and left it just in case I wanted to understand how to use the extensions and html templates
<div class="container">
    <form class="row" action="/launch/client" method="post">
        <div class="row">
            <div class="col align-self-start">
                <input type="password" name='thing' class="form-control" placeholder="The thing">
            </div>
            <div class="col align-self-start">
                <button type="submit" class="btn btn-primary">Go</button>
            </div>
        </div>
    </form>
</div>
-->
{% endblock %}